<h2>Products between ${{min}} and ${{max}}</h2>

{{#if products.length}}

<table border="1">
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Description</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>
    {{#each products}}
    <tr>
        <td>{{name}}</td>
        <td>{{brand.name}}</td>
        <td>{{category}}</td>
        <td>${{price}}</td>
        <td>{{description}}</td>
        <td>{{quantity}}</td>
        <td>
            <form action="/cart/add/{{_id}}" method="POST">
                <button type="submit">Add to Cart</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>No products found in this price range.</p>
{{/if}}

<a href="/">Back to Home</a>